<% provide(:title, "Help") %>
<h1>Help</h1>
  <p>
    なんや？困ったならここ見てみぃ。
    <a href="https://railstutorial.jp/help">Rails Tutorial help page</a>
    ここでもええけど。
    <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em>
    book</a>
  </p>